#nav_menu_container {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0px 10px 20px 5px rgba(19, 19, 19, 0.1);
    align-items: center;
}

#Mobile_view {
    display: none;
}

#img_logo img {
    height: 25px;
    /* width: 40px; */
}

#nav_items ul {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    list-style: none;

}

#nav_items a {
    color: grey;
    text-decoration: none;
    font-size: 1.2em;
    position: relative;
    transition: all 0.5s;
}

#nav_items a:hover,
#nav_items a:active {
    color: #0d0f0e;
}

#nav_items a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #1d1f1e;
    position: absolute;
    bottom: -4px;
    left: 0px;
    transition: all 0.5s;
}

#nav_items a:hover::after,
#nav_items a:active::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #1d1f1e;
    position: absolute;
    bottom: -4px;
    left: 0px;
}


#search_icon {
    height: 2em;
    width: 15em;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: flex-end;
    border: 2px solid rgb(22, 22, 93);

}

#search_input {
    display: flex;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;

}

.search_bar {
    height: 2rem;
    width: 2rem;
}

.buttons_nav {
    display: flex;
    gap: 1em;
    flex-direction: row;
}

.buttons_nav button {
    border-radius: var(--border-radius);
    color: var(--color);
    background-color: var(--bg-color);
    width: 100%;
    height: fit-content;

}

.buttons_nav button:hover {
    background-color: black;
    color: white;
    border: 2px solid white;

}

.buttons_nav button i {
    margin: 0.5em;
    margin-left: 0;
}
#nav_contact_icon{
   display: none;
}

@media (max-width: 990px) {
    #nav_items ul {
        display: flex;
        gap: 0.5rem;
    }

}

@media (max-width: 990px) {
    #search_icon {
        display: none;
    }
}
@media (max-width: 590px) {
    #nav_menu_container{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 80%;
        position: absolute;
        z-index: 20;
        background-color: #ffff;
        position: fixed;
        /* transform:translate(); */
    }
    #Navbar_main_container{
        display: flex;
        justify-content: flex-end;
        position: relative;
        z-index: 4;
    }

    #nav_items ul {
        flex-direction: column;
        gap: 1.8em;
    }

    .buttons_nav{
        display: flex;
        flex-direction: column;
    }
    #bars{
        display: block;
        height: 40px;
        width: 40px; 
        top: 0;
        right: 0; 
        color: #ffff;
        margin: 1.2% 3%;
    }
    #x_icons{
        display: block;
        height: 20px;
        width: 20px; 
        color: black;
    }

    #Mobile_view{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        z-index: 100;
        top: 0;
        position: fixed;
    }
    .nav_menu_container{
        transform: translateX(100%);
        transition: 0.5s;
    }
    .nav_menu_container.show{
        transform: translateX(0);
    }
}