#main_cart_div{
    width: 85%;
    height: 40%;
    display: flex;
    flex-direction: row;
    border: 3px solid blueviolet;
    justify-content: space-between;
    
    align-items: center;
}
#cartimage img{
    width: 15rem;
    height: 16rem;
    border: 2px solid red;
    background-size: cover;


}
#quantity{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
#decrement p,#increment p{
    height: 3rem;
    width: 3rem;
    background-color: aqua;
    border-radius: 50%;
    text-align: center;
    /* font-size: 5; */
}