.features_Cards{
    height: 250px;
    width: 150px;
    /* border: 2px solid red; */ 
    
}
.features{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
   
    gap: 3em;
    /* border: 2px solid green; */
    margin-top: 15%;
}
.features_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 300px;
    object-fit: contain;
   
    /* flex-wrap: wrap; */
    /* max-width: 5em; */
    /* margin: 0 auto; */
    
    gap: 1em;
    text-align: center;
}
.features_details img {
    
    /* height: auto;
    width: 100%; */
    max-width: 5rem;

    width: 50%;
    height: auto;
}
.features_details h5{
    font-size: 1.5em; 
}
.features_details p{
    font-size: 1em;
    line-height: 1.4em;
    margin:0 ;
}

.heading_sale h3{
    height: 10%;
    width: 100%;
    text-decoration: none;
    margin: 0;
    text-align: center;
    /* border: 2px solid blue; */
    box-shadow: 0px 0px 0px 1px rgba(229, 43, 43, 0.1);
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    background-color: #ffffff;
}

/* @media screen and (max-width:480px) {
    .features{
        display: flex;
        flex-direction: column;
    }
    .heading_sale h3{

    }

    
} */