.Img_bg_Home {
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
    background-attachment: fixed;
    background-image: url("../assest/home-new-bg-free-img.jpg");
    background-size: cover;
    /* background-position: center center; */

}


.Home_text_container {
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    background-color: rgba(15, 71, 99, 0.6);
    width: 100%;
    height: 100%;
    padding: 3em;
    gap: 2em;

}



.Home_text_container h1 {
    text-align: left;
    width: 50%;
    font-size: 5rem;
    font-weight: 600;
    font-family: var(--primary-font-family);
}

.Home_text_container h3 {
    font-size: 2rem;
    font-weight: 600;
    text-align: start;
    font-family: var(--primary-font-family);
}

.Home_buttons {
    height: 4em;
    width: 25em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-size: 0.7rem;
    font-family: sans-serif;

}

.Home_buttons button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px;
}

.shop_buttons {
    font-size: 0.9rem;

}

.shop_buttons:hover {
    background-color: black;
    color: white;

}

.find_buttons {
    background-color: transparent;
    border: 1px solid white;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 300;
    font-family: var(--primary-font-family);
}

.find_buttons:hover {
    background-color: white;
    color: #1E1810;
}
@media (max-width: 768px) {
    .Img_bg_Home {
        background-size: 100% 100%;
        background-repeat: no-repeat;

    }
    .Home_text_container h1{
        font-size: 4rem;
    }
}
@media (max-width: 580px){
    .Home_text_container h1{
        font-size: 3.2rem;
    }
    .Home_text_container h3{
        font-size: 1.6rem;
    }
    .Home_buttons{
        display: flex;
        flex-direction: column;
        width: 12em;
        height: 8.2em;
    }

    
}